<div class="post-form card">
    <h3>Editando artículo</h3>
    <form method="POST" class="post-form" action="{% url 'blog:edit_post' post_id %}">
        {% csrf_token %}
        {{form.media}}
        <div class="title-field flex-column">
            {{ form.post_title.label_tag }}{{ form.post_title }}
        </div>
        <div class="body-field flex-column">
            {{ form.post_body.label_tag }}{{ form.post_body }}
        </div>
        <div class="published-field">
            {{ form.published.label_tag }}{{ form.published }}
        </div>
        <div class="submit-wrapper">
            <button type="submit" class="send-button">Mandar</button>
        </div>
    </form>
</div>