
<div class="post-wrapper card">
    <div class="post-title">
        <a href="{% url 'blog:post_view' post.id %}"><p>{{ post.post_title }}</p></a>
    </div>
    <div class="post-body">
        <p>{{ post.post_body }}</p>
    </div>
    <div class="post-footer">
        <a class="post-button" href="{{post.id}}"><i class="fas fa-share-alt"></i></a>
    </div>
</div>

<div class="comment-form card">
    <h3>¡Únete a la conversación!</h3>
    <form method="POST" class="comment-form" action="{% url 'blog:new_comment' post.id %}">
        {% csrf_token %}
        <div class="author-field">
            {{ form.author.label_tag }}{{ form.author }}
        </div>
        <div class="text-field">
            {{ form.text.label_tag }}{{ form.text }}
        </div>
        <div class="submit-wrapper">
            <button type="submit" class="send-button">Mandar</button>
        </div>
    </form>
</div>

{% if post.comments.all %}
    {% for comment in post.comments.all %}
        {% include "../partials/_comment-card.html" %}
    {% endfor %}
{% else %}
    <p>No comments are available.</p>
{% endif %}
