<div class="dashboard-sidebar flex-column">
    <a href="{% url 'blog:dashboard_posts' %}" class="dashboard-sidebar-button {% if posts %} selected {% endif %}">Artículos</a>
    <a href="{% url 'blog:dashboard_comments' %}" class="dashboard-sidebar-button {% if comments %} selected {% endif %}">Comentarios</a>
    <a href="{% url 'blog:dashboard_static' %}" class="dashboard-sidebar-button {% if statics %} selected {% endif %}">Estáticas</a>
    <!--<a href="" class="dashboard-sidebar-button">Apariencia</a>-->
</div>