<nav>
    <div class="navigation-container flex-row">
        <div class="dropdown">
            <a href="" class="navigation-button">Archivo</a>
            <div class="dropdown-content">
                <a href="/?tag=historia" class="navigation-button">Historia</a>
                <a href="/?tag=mitologia" class="navigation-button">Mitología</a>
                <a href="/?tag=opinion" class="navigation-button">Opinión</a>
            </div>
        </div>
        &emsp;|&emsp;
        <div class="dropdown">
            <a href="/?tag=corrientes" class="navigation-button">Corrientes</a>
            <div class="dropdown-content">
                <a href="/?tag=chamana" class="navigation-button">Chamana</a>
                <a href="/?tag=druida" class="navigation-button">Druida</a>
                <a href="/?tag=wicca" class="navigation-button">Wicca</a>
                <a href="/?tag=tamerana" class="navigation-button">Tamerana</a>
            </div>
        </div>
        &emsp;|&emsp;
        <div class="dropdown">
            <a href="/?tag=diy" class="navigation-button">DIY</a>
            <div class="dropdown-content">
                <a href="/?tag=diy_athame" class="navigation-button">Athames</a>
                <a href="/?tag=diy_grimorio" class="navigation-button">Grimorios</a>
                <a href="/?tag=diy_joya" class="navigation-button">joyas</a>
                <a href="/?tag=diy_varita" class="navigation-button">Varitas</a>
                <a href="/?tag=diy_otros" class="navigation-button">Otros</a>
            </div>
        </div>
        &emsp;|&emsp;
        <div class="dropdown">
        <a href="/?tag=grimorio" class="navigation-button">Grimorio</a>
            <div class="dropdown-content">
                <a href="/?tag=adivinacion" class="navigation-button">Adivinación</a>
                <a href="/?tag=criaturas" class="navigation-button">Criaturas</a>
                <a href="/?tag=herbologia" class="navigation-button">Herbología</a>
                <a href="/?tag=magia" class="navigation-button">Magia</a>
            </div>
        </div>
        &emsp;|&emsp;
        <a href="{% url 'blog:about' %}" class="navigation-button">Sobre nosotras</a>
    </div>
</nav>