<div class="sidebar-wrapper">
    <div class="sidebar-content flex-column">
        {% include '../partials/_search-bar.html' %}
        <div class="flex-grow">
            <h3>Links</h3>
            <a href="">Link falso</a><br/>
            <a href="">Link falso</a><br/>
            <a href="">Link falso</a><br/>
            <a href="">Link falso</a><br/>
            <a href="">Link falso</a><br/>
            <a href="">Link falso</a><br/>
            <a href="">Link falso</a>
        </div>
        <div class="sidebar-social">
            <h3>Social</h3>
            <div class="sidebar-social-buttons-container">
                <a class="sidebar-social-button twitter" href=""><i class="fab fa-twitter" aria-hidden="true"></i></a>
                <a class="sidebar-social-button facebook" href=""><i class="fab fa-facebook-f" aria-hidden="true"></i></a>
                <a class="sidebar-social-button instagram" href=""><i class="fab fa-instagram" aria-hidden="true"></i></a>
                <a class="sidebar-social-button email" href=""><i class="fas fa-envelope" aria-hidden="true"></i></a>
            </div>
        </div>
    </div>
</div>